## Create "env.local" and paste the below into your new file. DELETE ALL COMMENTS ONCE YOU HAVE YOUR CORRECT VARs
ENVIROMENT=local
## https://cloud.walletconnect.com
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_NAME=your_wc_project_name
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=your_wc_project_id